.form-control {
    margin: 10px 0;
}

.btn-default {
    background: rgb(212, 114, 240);
    background: linear-gradient(90deg, rgba(212, 114, 240, 1) 0%, rgba(6, 113, 172, 1) 100%);
    color: white;
    font-weight: 700;
    border: 1px solid black;
}